In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"Z:\AIDAILER\Tony DB 2021\lit-AK.csv")
df

,Phone Cleaned,FullPhoneNumber,personfirstname,personmiddleinitial,personlastname,primaryaddress,secondaryaddress,cityname,state,ZipCode,...,estimatedincomecode,CreditRating,NumberOfLinesOfCredit,Credit_RangeOfNewCredit,homeownerprobabilitymodel,Disconnected,National DNC,Internal DNC,Cellphone,Litigator
0,9072272643,9072272643,LEONARD,L,BOOTH,PO Box 114,NaN,Hope,AK,99605,...,M,B,U,U,H,N,N,N,Y,N
1,9073609503,9073609503,CHARLES,P,FLYNN,1519 Hidden Ln,NaN,Anchorage,AK,99501,...,S,A,U,U,H,N,Y,N,Y,N
2,9072742175,9072742175,JAMES,R,LIEBSACK,1358 W 11th Ave,NaN,Anchorage,AK,99501,...,R,B,U,U,H,N,N,N,N,N
3,9072743803,9072743803,DEAN,NaN,FOUTS,446 E 10th Ave,NaN,Anchorage,AK,99501,...,H,D,U,U,H,N,N,N,N,N
4,9072768688,9072768688,KAREN,S,SNEAD,510 L St,Apt 905,Anchorage,AK,99501,...,R,B,2,5,H,N,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110745,9072529404,9072529404,PATRICIA,A,LYTLE,PO Box 64,NaN,Soldotna,AK,99669,...,N,C,U,U,H,N,N,N,Y,N
110746,9072327715,9072327715,TRAVIS,NaN,ASHING,400 S Rose Dr,NaN,Palmer,AK,99645,...,M,C,2,U,H,N,Y,N,Y,N
110747,9073500854,9073500854,ALEXYS,X,LANG,8717 Brookridge Dr,NaN,Anchorage,AK,99504,...,S,D,1,7,H,N,Y,N,Y,N
110748,9073500854,9073500854,SHEILA,A,LANG,8717 Brookridge Dr,NaN,Anchorage,AK,99504,...,S,D,1,7,H,N,Y,N,Y,N
110749,9073500997,9073500997,KYLE,M,ORR,3831 Gunwale Cir,NaN,Anchorage,AK,99516,...,S,C,U,U,H,N,Y,N,Y,N

In [3]:
df['ZipCode']

0         99605
1         99501
2         99501
3         99501
4         99501
          ...
110745    99669
110746    99645
110747    99504
110748    99504
110749    99516
Name: ZipCode, Length: 110750, dtype: int64

In [4]:
df.describe()

,Phone Cleaned,FullPhoneNumber,ZipCode,persondateofbirthmonth,persondateofbirthday,persondateofbirthyear,personexactage
count,1.107500e+05,1.107500e+05,110750.000000,110750.000000,110750.000000,110750.000000,110750.000000
mean,8.852382e+09,8.852382e+09,99608.125670,5.325418,6.199955,1878.998068,55.521463
std,1.033365e+09,1.033365e+09,112.283172,3.991757,9.387807,395.315136,19.679969
min,2.012136e+09,2.012136e+09,99501.000000,0.000000,0.000000,0.000000,0.000000
25%,9.072774e+09,9.072774e+09,99508.000000,1.000000,0.000000,1949.000000,44.000000
50%,9.073736e+09,9.073736e+09,99577.000000,5.000000,0.000000,1960.000000,59.000000
75%,9.076885e+09,9.076885e+09,99701.000000,9.000000,12.000000,1972.000000,69.000000
max,9.899801e+09,9.899801e+09,99929.000000,12.000000,31.000000,1999.000000,102.000000

In [5]:
df['FullPhoneNumber'].unique()

array([9072272643, 9073609503, 9072742175, ..., 9072327715, 9073500854,
       9073500997], dtype=int64)

In [6]:
len(df['FullPhoneNumber'])

110750

In [7]:
df.shape

(110750, 25)

In [8]:
df.info

<bound method DataFrame.info of         Phone Cleaned  FullPhoneNumber personfirstname personmiddleinitial  \
0          9072272643       9072272643         LEONARD                   L
1          9073609503       9073609503         CHARLES                   P
2          9072742175       9072742175           JAMES                   R
3          9072743803       9072743803            DEAN                 NaN
4          9072768688       9072768688           KAREN                   S
...               ...              ...             ...                 ...
110745     9072529404       9072529404        PATRICIA                   A
110746     9072327715       9072327715          TRAVIS                 NaN
110747     9073500854       9073500854          ALEXYS                   X
110748     9073500854       9073500854          SHEILA                   A
110749     9073500997       9073500997            KYLE                   M

       personlastname      primaryaddress secondaryaddress   cityname state  \
0               BOOTH          PO Box 114              NaN       Hope    AK
1               FLYNN      1519 Hidden Ln              NaN  Anchorage    AK
2            LIEBSACK     1358 W 11th Ave              NaN  Anchorage    AK
3               FOUTS      446 E 10th Ave              NaN  Anchorage    AK
4               SNEAD            510 L St          Apt 905  Anchorage    AK
...               ...                 ...              ...        ...   ...
110745          LYTLE           PO Box 64              NaN   Soldotna    AK
110746         ASHING       400 S Rose Dr              NaN     Palmer    AK
110747           LANG  8717 Brookridge Dr              NaN  Anchorage    AK
110748           LANG  8717 Brookridge Dr              NaN  Anchorage    AK
110749            ORR    3831 Gunwale Cir              NaN  Anchorage    AK

        ZipCode  ...  estimatedincomecode  CreditRating  \
0         99605  ...                    M             B
1         99501  ...                    S             A
2         99501  ...                    R             B
3         99501  ...                    H             D
4         99501  ...                    R             B
...         ...  ...                  ...           ...
110745    99669  ...                    N             C
110746    99645  ...                    M             C
110747    99504  ...                    S             D
110748    99504  ...                    S             D
110749    99516  ...                    S             C

        NumberOfLinesOfCredit  Credit_RangeOfNewCredit  \
0                           U                        U
1                           U                        U
2                           U                        U
3                           U                        U
4                           2                        5
...                       ...                      ...
110745                      U                        U
110746                      2                        U
110747                      1                        7
110748                      1                        7
110749                      U                        U

       homeownerprobabilitymodel Disconnected National DNC Internal DNC  \
0                              H            N            N            N
1                              H            N            Y            N
2                              H            N            N            N
3                              H            N            N            N
4                              H            N            N            N
...                          ...          ...          ...          ...
110745                         H            N            N            N
110746                         H            N            Y            N
110747                         H            N            Y            N
110748                         H            N            Y            N
110749                         H            N            Y            N

       Cellphone Litigator
0              Y         N
1              Y         N
2              N         N
3              N         N
4              N         N
...          ...       ...
110745         Y         N
110746         Y         N
110747         Y         N
110748         Y         N
110749         Y         N

[110750 rows x 25 columns]>

In [9]:
df.describe()

,Phone Cleaned,FullPhoneNumber,ZipCode,persondateofbirthmonth,persondateofbirthday,persondateofbirthyear,personexactage
count,1.107500e+05,1.107500e+05,110750.000000,110750.000000,110750.000000,110750.000000,110750.000000
mean,8.852382e+09,8.852382e+09,99608.125670,5.325418,6.199955,1878.998068,55.521463
std,1.033365e+09,1.033365e+09,112.283172,3.991757,9.387807,395.315136,19.679969
min,2.012136e+09,2.012136e+09,99501.000000,0.000000,0.000000,0.000000,0.000000
25%,9.072774e+09,9.072774e+09,99508.000000,1.000000,0.000000,1949.000000,44.000000
50%,9.073736e+09,9.073736e+09,99577.000000,5.000000,0.000000,1960.000000,59.000000
75%,9.076885e+09,9.076885e+09,99701.000000,9.000000,12.000000,1972.000000,69.000000
max,9.899801e+09,9.899801e+09,99929.000000,12.000000,31.000000,1999.000000,102.000000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110750 entries, 0 to 110749
Data columns (total 25 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Phone Cleaned              110750 non-null  int64
 1   FullPhoneNumber            110750 non-null  int64
 2   personfirstname            110750 non-null  object
 3   personmiddleinitial        95361 non-null   object
 4   personlastname             110747 non-null  object
 5   primaryaddress             110750 non-null  object
 6   secondaryaddress           11115 non-null   object
 7   cityname                   110750 non-null  object
 8   state                      110750 non-null  object
 9   ZipCode                    110750 non-null  int64
 10  persondateofbirthmonth     110750 non-null  int64
 11  persondateofbirthday       110750 non-null  int64
 12  persondateofbirthyear      110750 non-null  int64
 13  personexactage             110750 non-null  int64
 14  IsMobile                   110750 non-null  object
 15  estimatedincomecode        110750 non-null  object
 16  CreditRating               110750 non-null  object
 17  NumberOfLinesOfCredit      110750 non-null  object
 18  Credit_RangeOfNewCredit    110750 non-null  object
 19  homeownerprobabilitymodel  110750 non-null  object
 20  Disconnected               110750 non-null  object
 21  National DNC               110750 non-null  object
 22  Internal DNC               110750 non-null  object
 23  Cellphone                  110750 non-null  object
 24  Litigator                  110750 non-null  object
dtypes: int64(7), object(18)
memory usage: 21.1+ MB

In [11]:
df.isnull().any()

Phone Cleaned                False
FullPhoneNumber              False
personfirstname              False
personmiddleinitial           True
personlastname                True
primaryaddress               False
secondaryaddress              True
cityname                     False
state                        False
ZipCode                      False
persondateofbirthmonth       False
persondateofbirthday         False
persondateofbirthyear        False
personexactage               False
IsMobile                     False
estimatedincomecode          False
CreditRating                 False
NumberOfLinesOfCredit        False
Credit_RangeOfNewCredit      False
homeownerprobabilitymodel    False
Disconnected                 False
National DNC                 False
Internal DNC                 False
Cellphone                    False
Litigator                    False
dtype: bool

In [12]:
df.isnull().sum()

Phone Cleaned                    0
FullPhoneNumber                  0
personfirstname                  0
personmiddleinitial          15389
personlastname                   3
primaryaddress                   0
secondaryaddress             99635
cityname                         0
state                            0
ZipCode                          0
persondateofbirthmonth           0
persondateofbirthday             0
persondateofbirthyear            0
personexactage                   0
IsMobile                         0
estimatedincomecode              0
CreditRating                     0
NumberOfLinesOfCredit            0
Credit_RangeOfNewCredit          0
homeownerprobabilitymodel        0
Disconnected                     0
National DNC                     0
Internal DNC                     0
Cellphone                        0
Litigator                        0
dtype: int64

In [121]:
# data = pd.DataFrame(df)

In [13]:
df

,Phone Cleaned,FullPhoneNumber,personfirstname,personmiddleinitial,personlastname,primaryaddress,secondaryaddress,cityname,state,ZipCode,...,estimatedincomecode,CreditRating,NumberOfLinesOfCredit,Credit_RangeOfNewCredit,homeownerprobabilitymodel,Disconnected,National DNC,Internal DNC,Cellphone,Litigator
0,9072272643,9072272643,LEONARD,L,BOOTH,PO Box 114,NaN,Hope,AK,99605,...,M,B,U,U,H,N,N,N,Y,N
1,9073609503,9073609503,CHARLES,P,FLYNN,1519 Hidden Ln,NaN,Anchorage,AK,99501,...,S,A,U,U,H,N,Y,N,Y,N
2,9072742175,9072742175,JAMES,R,LIEBSACK,1358 W 11th Ave,NaN,Anchorage,AK,99501,...,R,B,U,U,H,N,N,N,N,N
3,9072743803,9072743803,DEAN,NaN,FOUTS,446 E 10th Ave,NaN,Anchorage,AK,99501,...,H,D,U,U,H,N,N,N,N,N
4,9072768688,9072768688,KAREN,S,SNEAD,510 L St,Apt 905,Anchorage,AK,99501,...,R,B,2,5,H,N,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110745,9072529404,9072529404,PATRICIA,A,LYTLE,PO Box 64,NaN,Soldotna,AK,99669,...,N,C,U,U,H,N,N,N,Y,N
110746,9072327715,9072327715,TRAVIS,NaN,ASHING,400 S Rose Dr,NaN,Palmer,AK,99645,...,M,C,2,U,H,N,Y,N,Y,N
110747,9073500854,9073500854,ALEXYS,X,LANG,8717 Brookridge Dr,NaN,Anchorage,AK,99504,...,S,D,1,7,H,N,Y,N,Y,N
110748,9073500854,9073500854,SHEILA,A,LANG,8717 Brookridge Dr,NaN,Anchorage,AK,99504,...,S,D,1,7,H,N,Y,N,Y,N
110749,9073500997,9073500997,KYLE,M,ORR,3831 Gunwale Cir,NaN,Anchorage,AK,99516,...,S,C,U,U,H,N,Y,N,Y,N

In [14]:
data = df

In [122]:
# data

,Phone Cleaned,FullPhoneNumber,personfirstname,personmiddleinitial,personlastname,primaryaddress,secondaryaddress,cityname,state,ZipCode,...,estimatedincomecode,CreditRating,NumberOfLinesOfCredit,Credit_RangeOfNewCredit,homeownerprobabilitymodel,Disconnected,National DNC,Internal DNC,Cellphone,Litigator
0,9072272643,9072272643,LEONARD,L,BOOTH,PO Box 114,NaN,Hope,AK,99605,...,M,B,U,U,H,N,N,N,Y,N
1,9073609503,9073609503,CHARLES,P,FLYNN,1519 Hidden Ln,NaN,Anchorage,AK,99501,...,S,A,U,U,H,N,Y,N,Y,N
2,9072742175,9072742175,JAMES,R,LIEBSACK,1358 W 11th Ave,NaN,Anchorage,AK,99501,...,R,B,U,U,H,N,N,N,N,N
3,9072743803,9072743803,DEAN,NaN,FOUTS,446 E 10th Ave,NaN,Anchorage,AK,99501,...,H,D,U,U,H,N,N,N,N,N
4,9072768688,9072768688,KAREN,S,SNEAD,510 L St,Apt 905,Anchorage,AK,99501,...,R,B,2,5,H,N,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110745,9072529404,9072529404,PATRICIA,A,LYTLE,PO Box 64,NaN,Soldotna,AK,99669,...,N,C,U,U,H,N,N,N,Y,N
110746,9072327715,9072327715,TRAVIS,NaN,ASHING,400 S Rose Dr,NaN,Palmer,AK,99645,...,M,C,2,U,H,N,Y,N,Y,N
110747,9073500854,9073500854,ALEXYS,X,LANG,8717 Brookridge Dr,NaN,Anchorage,AK,99504,...,S,D,1,7,H,N,Y,N,Y,N
110748,9073500854,9073500854,SHEILA,A,LANG,8717 Brookridge Dr,NaN,Anchorage,AK,99504,...,S,D,1,7,H,N,Y,N,Y,N
110749,9073500997,9073500997,KYLE,M,ORR,3831 Gunwale Cir,NaN,Anchorage,AK,99516,...,S,C,U,U,H,N,Y,N,Y,N

In [15]:
data = data.drop(['personlastname', 'personfirstname', 'primaryaddress','secondaryaddress','personmiddleinitial', 'cityname', 'ZipCode', 'persondateofbirthmonth','persondateofbirthday',  'persondateofbirthyear', 'Litigator'], axis=1)

In [16]:
data = data.drop(['Phone Cleaned'], axis=1)

In [17]:
data

,FullPhoneNumber,state,personexactage,IsMobile,estimatedincomecode,CreditRating,NumberOfLinesOfCredit,Credit_RangeOfNewCredit,homeownerprobabilitymodel,Disconnected,National DNC,Internal DNC,Cellphone
0,9072272643,AK,79,T,M,B,U,U,H,N,N,N,Y
1,9073609503,AK,77,T,S,A,U,U,H,N,Y,N,Y
2,9072742175,AK,61,F,R,B,U,U,H,N,N,N,N
3,9072743803,AK,80,F,H,D,U,U,H,N,N,N,N
4,9072768688,AK,75,F,R,B,2,5,H,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110745,9072529404,AK,61,T,N,C,U,U,H,N,N,N,Y
110746,9072327715,AK,0,T,M,C,2,U,H,N,Y,N,Y
110747,9073500854,AK,48,T,S,D,1,7,H,N,Y,N,Y
110748,9073500854,AK,44,T,S,D,1,7,H,N,Y,N,Y
110749,9073500997,AK,50,T,S,C,U,U,H,N,Y,N,Y

In [111]:
len(data['Cellphone'].unique())

2

In [112]:
data['Cellphone'].unique()

array(['Y', 'N'], dtype=object)

In [113]:
data['Cellphone'].value_counts()

N    69489
Y    41261
Name: Cellphone, dtype: int64

In [114]:
type(data['Cellphone'][0])

str

In [115]:
data['Cellphone'][5]

'Y'

In [42]:
len(data.columns)

13

In [23]:
data.dtypes

FullPhoneNumber               int64
state                        object
personexactage                int64
IsMobile                     object
estimatedincomecode          object
CreditRating                 object
NumberOfLinesOfCredit        object
Credit_RangeOfNewCredit      object
homeownerprobabilitymodel    object
Disconnected                 object
National DNC                 object
Internal DNC                 object
Cellphone                    object
dtype: object

In [126]:
data.isnull().any()

FullPhoneNumber              False
state                        False
personexactage               False
IsMobile                     False
estimatedincomecode          False
CreditRating                 False
NumberOfLinesOfCredit        False
Credit_RangeOfNewCredit      False
homeownerprobabilitymodel    False
Disconnected                 False
National DNC                 False
Internal DNC                 False
Cellphone                    False
dtype: bool

In [93]:
data['FullPhoneNumber'].isnull().values.any()

False

In [94]:
data['personexactage']

0         79
1         77
2         61
3         80
4         75
          ..
110745    61
110746     0
110747    48
110748    44
110749    50
Name: personexactage, Length: 110750, dtype: int64

In [95]:
data.head(10)

,FullPhoneNumber,state,personexactage,IsMobile,estimatedincomecode,CreditRating,NumberOfLinesOfCredit,Credit_RangeOfNewCredit,homeownerprobabilitymodel,Disconnected,National DNC,Internal DNC,Cellphone
0,9072272643,AK,79,T,M,B,U,U,H,N,N,N,Y
1,9073609503,AK,77,T,S,A,U,U,H,N,Y,N,Y
2,9072742175,AK,61,F,R,B,U,U,H,N,N,N,N
3,9072743803,AK,80,F,H,D,U,U,H,N,N,N,N
4,9072768688,AK,75,F,R,B,2,5,H,N,N,N,N
5,9079526719,AK,47,T,O,C,2,7,H,N,Y,N,Y
6,9072585104,AK,101,F,N,B,7,U,H,N,Y,N,N
7,9072585104,AK,101,F,N,B,7,U,H,N,Y,N,N
8,9073981394,AK,53,T,M,F,3,U,H,N,Y,N,Y
9,9072771257,AK,62,F,S,D,1,4,H,N,N,N,N

In [60]:
data.iloc[110746]

FullPhoneNumber              9072327715
state                                AK
personexactage                        0
IsMobile                              T
estimatedincomecode                   M
CreditRating                          C
NumberOfLinesOfCredit                 2
Credit_RangeOfNewCredit               U
homeownerprobabilitymodel             H
Disconnected                          N
National DNC                          Y
Internal DNC                          N
Cellphone                             Y
Name: 110746, dtype: object

In [96]:
data.isnull().values.any()

False

In [75]:
data = data[data['personexactage'] <= 0]

In [97]:
data1 = data
data1

,FullPhoneNumber,state,personexactage,IsMobile,estimatedincomecode,CreditRating,NumberOfLinesOfCredit,Credit_RangeOfNewCredit,homeownerprobabilitymodel,Disconnected,National DNC,Internal DNC,Cellphone
0,9072272643,AK,79,T,M,B,U,U,H,N,N,N,Y
1,9073609503,AK,77,T,S,A,U,U,H,N,Y,N,Y
2,9072742175,AK,61,F,R,B,U,U,H,N,N,N,N
3,9072743803,AK,80,F,H,D,U,U,H,N,N,N,N
4,9072768688,AK,75,F,R,B,2,5,H,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110745,9072529404,AK,61,T,N,C,U,U,H,N,N,N,Y
110746,9072327715,AK,0,T,M,C,2,U,H,N,Y,N,Y
110747,9073500854,AK,48,T,S,D,1,7,H,N,Y,N,Y
110748,9073500854,AK,44,T,S,D,1,7,H,N,Y,N,Y
110749,9073500997,AK,50,T,S,C,U,U,H,N,Y,N,Y

In [98]:
data1 = data[data['personexactage'] > 0]
data1

,FullPhoneNumber,state,personexactage,IsMobile,estimatedincomecode,CreditRating,NumberOfLinesOfCredit,Credit_RangeOfNewCredit,homeownerprobabilitymodel,Disconnected,National DNC,Internal DNC,Cellphone
0,9072272643,AK,79,T,M,B,U,U,H,N,N,N,Y
1,9073609503,AK,77,T,S,A,U,U,H,N,Y,N,Y
2,9072742175,AK,61,F,R,B,U,U,H,N,N,N,N
3,9072743803,AK,80,F,H,D,U,U,H,N,N,N,N
4,9072768688,AK,75,F,R,B,2,5,H,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110744,9073012780,AK,73,T,N,B,1,U,H,N,Y,N,Y
110745,9072529404,AK,61,T,N,C,U,U,H,N,N,N,Y
110747,9073500854,AK,48,T,S,D,1,7,H,N,Y,N,Y
110748,9073500854,AK,44,T,S,D,1,7,H,N,Y,N,Y
110749,9073500997,AK,50,T,S,C,U,U,H,N,Y,N,Y

In [99]:
data1.isnull().values.any()

False

In [101]:
df_mean = data['personexactage'].mean()

In [102]:
df_mean

55.52146275395034

In [103]:
data

,FullPhoneNumber,state,personexactage,IsMobile,estimatedincomecode,CreditRating,NumberOfLinesOfCredit,Credit_RangeOfNewCredit,homeownerprobabilitymodel,Disconnected,National DNC,Internal DNC,Cellphone
0,9072272643,AK,79,T,M,B,U,U,H,N,N,N,Y
1,9073609503,AK,77,T,S,A,U,U,H,N,Y,N,Y
2,9072742175,AK,61,F,R,B,U,U,H,N,N,N,N
3,9072743803,AK,80,F,H,D,U,U,H,N,N,N,N
4,9072768688,AK,75,F,R,B,2,5,H,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110745,9072529404,AK,61,T,N,C,U,U,H,N,N,N,Y
110746,9072327715,AK,0,T,M,C,2,U,H,N,Y,N,Y
110747,9073500854,AK,48,T,S,D,1,7,H,N,Y,N,Y
110748,9073500854,AK,44,T,S,D,1,7,H,N,Y,N,Y
110749,9073500997,AK,50,T,S,C,U,U,H,N,Y,N,Y

In [108]:
import numpy as np

In [117]:
data2 = df['personexactage'].replace(0, df_mean)

In [118]:
data2

0         79.000000
1         77.000000
2         61.000000
3         80.000000
4         75.000000
            ...
110745    61.000000
110746    55.521463
110747    48.000000
110748    44.000000
110749    50.000000
Name: personexactage, Length: 110750, dtype: float64

In [119]:
df['personexactage'].head(20)

0      79.000000
1      77.000000
2      61.000000
3      80.000000
4      75.000000
5      47.000000
6     101.000000
7     101.000000
8      53.000000
9      62.000000
10     55.521463
11     56.000000
12     56.000000
13     56.000000
14     60.000000
15     32.000000
16     66.000000
17     80.000000
18     34.000000
19     62.000000
Name: personexactage, dtype: float64

In [127]:
data

,FullPhoneNumber,state,personexactage,IsMobile,estimatedincomecode,CreditRating,NumberOfLinesOfCredit,Credit_RangeOfNewCredit,homeownerprobabilitymodel,Disconnected,National DNC,Internal DNC,Cellphone
0,9072272643,AK,79.000000,T,M,B,U,U,H,N,N,N,Y
1,9073609503,AK,77.000000,T,S,A,U,U,H,N,Y,N,Y
2,9072742175,AK,61.000000,F,R,B,U,U,H,N,N,N,N
3,9072743803,AK,80.000000,F,H,D,U,U,H,N,N,N,N
4,9072768688,AK,75.000000,F,R,B,2,5,H,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110745,9072529404,AK,61.000000,T,N,C,U,U,H,N,N,N,Y
110746,9072327715,AK,55.521463,T,M,C,2,U,H,N,Y,N,Y
110747,9073500854,AK,48.000000,T,S,D,1,7,H,N,Y,N,Y
110748,9073500854,AK,44.000000,T,S,D,1,7,H,N,Y,N,Y
110749,9073500997,AK,50.000000,T,S,C,U,U,H,N,Y,N,Y

In [128]:
data.head(20)

,FullPhoneNumber,state,personexactage,IsMobile,estimatedincomecode,CreditRating,NumberOfLinesOfCredit,Credit_RangeOfNewCredit,homeownerprobabilitymodel,Disconnected,National DNC,Internal DNC,Cellphone
0,9072272643,AK,79.000000,T,M,B,U,U,H,N,N,N,Y
1,9073609503,AK,77.000000,T,S,A,U,U,H,N,Y,N,Y
2,9072742175,AK,61.000000,F,R,B,U,U,H,N,N,N,N
3,9072743803,AK,80.000000,F,H,D,U,U,H,N,N,N,N
4,9072768688,AK,75.000000,F,R,B,2,5,H,N,N,N,N
5,9079526719,AK,47.000000,T,O,C,2,7,H,N,Y,N,Y
6,9072585104,AK,101.000000,F,N,B,7,U,H,N,Y,N,N
7,9072585104,AK,101.000000,F,N,B,7,U,H,N,Y,N,N
8,9073981394,AK,53.000000,T,M,F,3,U,H,N,Y,N,Y
9,9072771257,AK,62.000000,F,S,D,1,4,H,N,N,N,N
10,9072771257,AK,55.521463,F,Q,D,1,4,H,N,N,N,N
11,9073334756,AK,56.000000,F,M,C,1,2,H,N,N,N,N
12,9073334756,AK,56.000000,F,M,C,1,2,H,N,N,N,N
13,9073334756,AK,56.000000,F,M,C,1,2,H,N,N,N,N
14,9073788642,AK,60.000000,T,O,B,4,4,H,N,Y,N,Y
15,9072773189,AK,32.000000,F,Q,B,1,7,H,N,Y,N,N
16,9072723758,AK,66.000000,F,Q,A,1,7,H,N,Y,N,N
17,9073200329,AK,80.000000,T,C,H,U,U,H,N,Y,N,Y
18,9074415480,AK,34.000000,T,B,E,U,U,R,N,N,N,Y
19,9072442044,AK,62.000000,T,O,D,1,2,H,N,Y,N,Y

In [129]:
data['personexactage'] = data['personexactage'].astype({'personexactage': int})

In [130]:
data

,FullPhoneNumber,state,personexactage,IsMobile,estimatedincomecode,CreditRating,NumberOfLinesOfCredit,Credit_RangeOfNewCredit,homeownerprobabilitymodel,Disconnected,National DNC,Internal DNC,Cellphone
0,9072272643,AK,79,T,M,B,U,U,H,N,N,N,Y
1,9073609503,AK,77,T,S,A,U,U,H,N,Y,N,Y
2,9072742175,AK,61,F,R,B,U,U,H,N,N,N,N
3,9072743803,AK,80,F,H,D,U,U,H,N,N,N,N
4,9072768688,AK,75,F,R,B,2,5,H,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110745,9072529404,AK,61,T,N,C,U,U,H,N,N,N,Y
110746,9072327715,AK,55,T,M,C,2,U,H,N,Y,N,Y
110747,9073500854,AK,48,T,S,D,1,7,H,N,Y,N,Y
110748,9073500854,AK,44,T,S,D,1,7,H,N,Y,N,Y
110749,9073500997,AK,50,T,S,C,U,U,H,N,Y,N,Y